stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: "$DOCKER_USERNAME/predprof-frontend:latest"

build_image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    
    - docker build -t $DOCKER_IMAGE .
    
    - docker push $DOCKER_IMAGE
  only:
    - main

deploy_to_server:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Deploying to production server..."
    - ssh $SSH_USERNAME@$SSH_HOST "
        echo 'Login to Docker...';
        echo '$DOCKER_PASSWORD' | docker login -u '$DOCKER_USERNAME' --password-stdin;

        echo 'Pulling new image...';
        docker pull $DOCKER_IMAGE;

        echo 'Stopping old container...';
        docker stop predprof-frontend || true;
        docker rm predprof-frontend || true;

        echo 'Starting new container...';
        docker run -d \
          -p 2056:3000 \
          --name predprof-frontend \
          -e MONGODB_URI='$MONGODB_URI' \
          -e JWT_SECRET='$JWT_SECRET' \
          $DOCKER_IMAGE;
      "
  only:
    - main